@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --clr-txt-very-dark-blue: hsl(238, 29%, 16%);
    --clr-txt-soft-red: hsl(14, 88%, 65%);
    --clr-txt-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --clr-txt-dark-grayish-blue: hsl(240, 6%, 50%);
    --clr-grd-soft-violet: hsl(273, 75%, 66%);
    --clr-grd-soft-blue: hsl(240, 73%, 65%);
    --clr-divd-light-grayish-blue: hsl(240, 5%, 91%);

    --fs-smaller: 0.75rem;
    --fs-small: 0.875rem;
    --fs-large: 2rem;

    --fw-normal: 400;
    --fw-bold: 700;

    --br-normal: 20px;

    --spc-small: 8px;
    --spc-normal: 16px;
    --spc-large: 32px;
    --spc-larger: 48px;
    --spc-huge: 80px;
}

body {
    font-size: var(--fs-smaller);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: var(--fw-normal);
    color: var(--clr-txt-very-dark-grayish-blue)
}

#website {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background: linear-gradient(var(--clr-grd-soft-violet),var(--clr-grd-soft-blue));
    overflow: auto;
}

main {
    background-color: hsl(0, 0%, 100%);
    border-radius: var(--br-normal);
    padding: var(--spc-larger) var(--spc-large);
    margin: 80px 0 var(--spc-large);
    min-width: 320px;
    max-width: 350px;
    box-shadow: 0 30px 30px -30px var(--clr-txt-very-dark-blue);
}

.illustration-wrapper {
    text-align: center;
    height: 0px;
}

picture, source, img {
    max-width: 100%;
}

.illustration-bg-pattern img {
    position: relative;
    bottom: 50px;
    left: 5px;
    width: 255px;
}

.illustration-woman img {
    position: relative;
    bottom: 275px;
    width: 250px;
}

.faq-wrapper {
    margin-top: 80px;
}

h1 {
    text-align: center;
    font-size: var(--fs-large);
    color: var(--clr-txt-very-dark-blue);
    margin-bottom: var(--spc-large);
}

details {
    padding: var(--spc-small) 0;
    border-bottom: 1px solid var(--clr-divd-light-grayish-blue);
}

details > summary {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: var(--fs-small);
    list-style-type: none;
    padding: var(--spc-small) 0;

    cursor: pointer;
    transition: margin 0.2s ease-out;
}

details > summary:focus,
details > summary:hover {
  color: var(--clr-txt-soft-red);
  outline: none;
}

details > summary::after {
  content: "";
  background-image: url('images/icon-arrow-down.svg');
  background-size: cover;
  width: 14px;
  height: 8px;
  transition: transform 0.4s;
}

details[open] > summary {
    font-weight: var(--fw-bold);
    color: var(--clr-txt-very-dark-blue);
    padding-bottom: 0;
    margin-bottom: 10px;
}

details[open] > summary::after {
    transform: rotate(180deg);
}

details[open] > p {
    margin-right: var(--spc-large);
    color: var(--clr-txt-dark-grayish-blue);
}

@media only screen and (min-width: 1440px) {
    :root {
        --fs-smaller: 14px;
        --fs-small: 16px;
        --fs-large: 36px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
        padding: 0px;
        min-width: 1000px;
        max-width: 1000px;
    }

    .illustration-wrapper {
        height: 100%;
    }

    .hide-overflow {
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .illustration-bg-pattern img {
        position: absolute;
        left: auto;
        max-width: none;
        width: 1000px;
        bottom: -170px;
        right: 85px;
    }

    .illustration-box img {
        position: relative;
        bottom: 295px;
        right: 240px;
        transition: right 1.5s;
        z-index: 1;
    }

    .illustration-box:hover img {
        right: 285px;
    }

    .illustration-woman img {
        position: absolute;
        width: 500px;
        bottom: 60px;
        right: 85px;
    }

    .faq-wrapper {
        margin: 0;
        padding: var(--spc-huge) var(--spc-huge) var(--spc-huge) 0;
    }

    h1 {
        text-align: left;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: var(--clr-txt-very-dark-blue); }